<h2 mat-dialog-title translate>TERMS-AND-CONDITIONS.heading</h2>
<mat-dialog-content class="mat-typography">
 
  <p translate>TERMS-AND-CONDITIONS.tandc1</p>

  <!-- <h3 translate>TERMS-AND-CONDITIONS.tandc2-heading</h3>
  <p translate>TERMS-AND-CONDITIONS.tandc2</p>

  <h3 translate>TERMS-AND-CONDITIONS.tandc3-heading</h3>
  <p translate>TERMS-AND-CONDITIONS.tandc3</p>

  <h3 translate>TERMS-AND-CONDITIONS.tandc4-heading</h3>
  <p translate>TERMS-AND-CONDITIONS.tandc4</p>

  <h3 translate>TERMS-AND-CONDITIONS.tandc5-heading</h3>
  <p translate>TERMS-AND-CONDITIONS.tandc5</p>

  <h3 translate>TERMS-AND-CONDITIONS.tandc6-heading</h3>
  <p translate>TERMS-AND-CONDITIONS.tandc6</p>

  <h3 translate>TERMS-AND-CONDITIONS.tandc7-heading</h3>
  <p translate>TERMS-AND-CONDITIONS.tandc7</p>

  <h3 translate>TERMS-AND-CONDITIONS.tandc8-heading</h3>
  <p translate>TERMS-AND-CONDITIONS.tandc8</p>

  <h3 translate>TERMS-AND-CONDITIONS.tandc9-heading</h3>
  <p translate>TERMS-AND-CONDITIONS.tandc9</p>

  <h3 translate>TERMS-AND-CONDITIONS.tandc10-heading</h3>
  <p translate>TERMS-AND-CONDITIONS.tandc10</p>

  <h3 translate>TERMS-AND-CONDITIONS.tandc11-heading</h3>
  <p translate>TERMS-AND-CONDITIONS.tandc11</p>

  <h3 translate>TERMS-AND-CONDITIONS.tandc12-heading</h3>
  <p translate>TERMS-AND-CONDITIONS.tandc12</p> -->

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button [mat-dialog-close]="true">OK</button>
</mat-dialog-actions>
