<div class="content">
  <div>
    <div class="content div">
      <div class="simple-page-form animated zoomIn">
        <!-- mark up for search box -->
        <div class="row">
          <div class="col-md-12 clo-lg-12">
            <label class="lblsubtitle" translate> RESOURCELIST.subtitle.text</label>
            <div class="pull-right customsearchbox">
              <!-- <button class="btn btn-warning" style="width:auto!important;" (click)="assignResources();">Assign Resources</button> -->
              <div class="radiogroup">
                <!-- <form>
                      <mat-radio-group [(ngModel)]="selectedresourcetype" name="selectedresourcestype" (change)="getresourcesfucn();">
                        <mat-radio-button value="1">
                          <span translate>RESOURCELIST.all-resources.text</span>
                        </mat-radio-button>
                        <mat-radio-button value="2" style="padding-left:10px">
                          <span translate>RESOURCELIST.available-resources.text</span>
                        </mat-radio-button>
                      </mat-radio-group>
                    </form> -->
              </div>
              <i class="fa fa-search  btn btn-warning" style="width:auto;" (click)="hideShowSeacrh();" aria-hidden="true" *ngIf="localstorageservice.checkReadPermission(feature.RESOURCE_MANAGEMENT)"></i>&nbsp;
              <i class="fa fa-refresh btn btn-warning" style="width:auto;" (click)="refresh();" title="Refresh"></i>&nbsp;
            </div>
          </div>
        </div>
        <div *ngIf="isvisible==true">
          <app-custom-search [customsearchdata]="customSearchDataMain"></app-custom-search>
        </div>
        <!-- end of custom serach box -->
        <!-- <div class="row">
        <div class="pull-right radiogroup">
          <form>
            <mat-radio-group [(ngModel)]="selectedresourcetype" name="selectedresourcestype" (change)="getresourcesfucn();">
              <mat-radio-button value="1">
                <span translate>RESOURCELIST.all-resources.text</span>
              </mat-radio-button>
              <mat-radio-button value="2" style="padding-left:10px">
                <span translate>RESOURCELIST.available-resources.text</span>
              </mat-radio-button>
            </mat-radio-group>
          </form>
        </div>
       </div> -->
        <!--- mark up for showwing all resources list -->
        <div>
          <mat-table [dataSource]="dataSource" matSort class="table table-striped content tbl mat-elevation-z8">
            <ng-container matColumnDef="FirstName" hidden>
              <mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header-arrow>
                <label translate>RESOURCELIST.name.text</label>
              </mat-header-cell>
              <mat-cell *matCellDef="let resource">
                <label class="mat-cell-responsive-label" translate>RESOURCELIST.name.text</label>
                {{resource.firstName}} {{resource.lastName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="AssignedMPRNCount" hidden>
              <mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header-arrow style="justify-content:center;">
                <label translate>RESOURCELIST.status.text</label>
              </mat-header-cell>
              <mat-cell *matCellDef="let resource" style="justify-content:center;display:inline-flex !important;">
                <label class="mat-cell-responsive-label" translate>RESOURCELIST.status.text</label>
                <span *ngIf="resource.assignedMPRNCount>0" class="pointer" (click)="viewSelctedresourcesMPRN(resource);">
                  <!-- <span  style="cursor: pointer !important;" matBadge="{{resource.inprogress}}" matBadgeOverlap="false" matBadgeColor="accent"></span> -->
                  <span class="circle">{{resource.assignedMPRNCount}}</span>
                </span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Roles" hidden>
              <mat-header-cell *matHeaderCellDef>
                <label translate>RESOURCELIST.role.text</label>
              </mat-header-cell>
              <mat-cell *matCellDef="let resource">
                <span>
                  <label class="mat-cell-responsive-label" translate>RESOURCELIST.role.text</label>
                  {{resource.preferredRole}}</span>
              </mat-cell>
            </ng-container>
            <!-- <ng-container matColumnDef="organization" hidden>
              <mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header-arrow>
                <label translate>RESOURCELIST.organization.text</label>
              </mat-header-cell>
              <mat-cell *matCellDef="let resource">
                <label class="mat-cell-responsive-label" translate>RESOURCELIST.organization.text</label>
                {{resource.organization}} </mat-cell>
            </ng-container> -->
            <ng-container matColumnDef="Zones" hidden>
              <mat-header-cell *matHeaderCellDef>
                <label translate>Zone</label>
              </mat-header-cell>
              <mat-cell *matCellDef="let resource">
                <label class="mat-cell-responsive-label" translate>RESOURCELIST.zone.text</label>
                <span>{{cellZone(resource.zones)}}</span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Cells" hidden>
              <mat-header-cell *matHeaderCellDef>
                <label translate>Cell</label>
              </mat-header-cell>
              <mat-cell *matCellDef="let resource">               
                <span>{{cellZone(resource.cells)}}</span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Inprogress" hidden>
              <mat-header-cell *matHeaderCellDef >
                <label translate>RESOURCELIST.inprogress.text</label>
              </mat-header-cell>
              <mat-cell *matCellDef="let resource" style="justify-content:center;">
                <label class="mat-cell-responsive-label" translate>RESOURCELIST.inprogress.text</label>
                {{resource.assignedMPRNCount}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Completed" hidden>
              <mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header-arrow>
                <label translate>RESOURCELIST.completed.text</label>
              </mat-header-cell>
              <mat-cell *matCellDef="let resource" style="justify-content:center;">
                <label class="mat-cell-responsive-label" translate>RESOURCELIST.completed.text</label>
                {{resource.completed}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef class="mat-column-CODIGO" style="padding-right:0px;flex: 0 0 5%">
                <label translate>ASSIGNEDMPRNLIST.action.text</label>
              </mat-header-cell>
              <mat-cell *matCellDef="let resource" style="justify-content:center;flex: 0 0 5%">
                <span class="mat-cell-responsive-label" translate>INCIDENTLIST.action.text</span>
                <span *ngIf="localstorageservice.checkReadPermission(feature.RESOURCE_MANAGEMENT)">
                  <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
                    <mat-icon aria-hidden="true" matTooltip="Menu">more_vert</mat-icon>
                  </button>
                </span>
                <mat-menu #menu="matMenu">
                  <ng-template matMenuContent>
                    <button mat-menu-item (click)="viewSelctedresourcesMPRN(resource);" *ngIf="localstorageservice.checkReadPermission(feature.RESOURCE_MANAGEMENT)">
                      <mat-icon color='primary'>remove_red_eye</mat-icon>
                      <span translate>Assigned MPRN(S)</span>
                    </button>
                    <button mat-menu-item data-toggle="modal" data-target=".bd-example-modal-lg" (click)="portalUserDetails(resource.id);" *ngIf="localstorageservice.checkReadPermission(feature.RESOURCE_MANAGEMENT)">
                      <mat-icon color='primary'>account_circle</mat-icon>
                      <span translate>User Details</span>
                    </button>
                    <!-- <button mat-menu-item data-toggle="modal" data-target=".bd-example-modal-lg">
                      <mat-icon color='primary'>history</mat-icon>
                      <span translate> History</span>
                    </button> -->

                  </ng-template>
                </mat-menu>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator #paginator [length]="resultsLength" [pageSizeOptions]="[50, 100, 200, 500, 1000]"></mat-paginator>

        </div>
        <!-- <p class="red" *ngIf="getAllResourcesResponse.length==0">No Records Found</p> -->


        <!-- end of markup     -->
      </div>
    </div>
  </div>
</div>