<div class="container">
  <div class="row">
    <!-- <div class="col-md-6 card">
      <img src="../../assets/images/walesandwestcoloredlogo.png" class="img-fluid">
    </div> -->
    <div class="col-md-6 home-wrapper home-wrapper-alt p-50">
        <div class="main-logo">
        <img src="../../assets/images/walesandwestcoloredlogo.png" class="img-fluid">
        </div>
        <h4 class="w-full text-justify auth-paragraph">{{welcomeText}}</h4>
      </div>
    <div class="col-md-6 card">
      <a class="twitter-timeline" data-width="500" data-height="1000" data-link-color="#FAB81E" href="https://twitter.com/WWUtilities?ref_src=twsrc%5Etfw">Tweets
        by WWUtilities</a>
    </div>
  </div>
</div>