
    <mat-card>
        <!-- : {{Incident.incidentid}} -->
        <mat-card-title><label class="lblsubtitle" translate>DASHBOARD.incidentsummerycelllevel.text</label>
          <div class="pull-right">
              <div class="row">
             <div class="col-sm-4 col-md-4 col-lg-4" style="display: inline-flex;">
            <div class="input-sm"><label translate>DASHBOARD.cell.text</label> </div>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8" style="display: inline-flex;">
            <select class="form-control input-sm " [(ngModel)]="filtervalue" (change)="filterChart();">
              <option value="all">All</option>
              <option *ngFor="let data of dataFileter" [ngValue]="data.value">{{data.name}}</option>
            </select>
            <i class="btn-sm  minmax pointer fa fa-refresh" aria-hidden="true" (click)="getCellwiseIncident();"></i>
            <i class="glyphicon glyphicon-transfer  pointer fullscreenbut" (click)="fullWidthChart()"></i>
            </div>
          </div>
        </div>
        </mat-card-title>
          <div class="row">
            <div class="col-12" style="height:350px !important">
                <ngx-charts-bar-vertical-stacked  class="customfont"    
                                
                  [customColors]="customColors"
                  [gradient]=true
                  [results]="cellwiseIncidentChartFilter"                 
                  [xAxis]="showXAxis"
                  [animations]=true
                  [yAxis]="showYAxis"
                  [legend]="showLegend"
                  [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel"
                  [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel">
                </ngx-charts-bar-vertical-stacked>
    </div>  
   </div>
   </mat-card>
  
   