<div>
  <!-- HOME -->
  <section>
    <div class="row">
      <div class="col" style="align-self: center">
        <div>
          <div class="simple-page-wrap">
            <div class="simple-page-form animated zoomIn" id="incidentedit-form">
              <span class="lblsubtitle" translate>Edit Incident</span>
              <br>
              <br>
              <div class="row" style="text-align: center;" *ngIf="uploadbuttonvisible">
                <i class="fa fa-spinner fa-spin" style="font-size: 17px;"></i>
                <span style="padding: 2px;font-size: 18px;font-family: inherit;"> Saving.Please Wait ...</span>
              </div>
              <form [formGroup]="incidentEditForm" (ngSubmit)="onSubmit()">
                <div class="incidentEdit-group" style="padding-top: 10px">
                  <div class="row">
                    <div class="col-md-6 col-sm-12">
                      <span class="help-box"></span>
                      <div class="form-group has-float-label">
                        <input id="incidentId" type="text" class="form-control" placeholder="" formControlName="incidentId" readonly>
                        <label for="incidentId" translate>Incident Id</label>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12 example-container">
                      <mat-form-field style="line-height: 1.800!important;" *ngIf="customstatus==0">
                        <mat-select required placeholder="Select Category" id="category" formControlName="category">
                          <mat-option *ngFor="let category of formCategories" [value]="category.id">{{category.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field style="line-height: 1.800!important;" *ngIf="customstatus==1 || customstatus==2">
                        <mat-select required placeholder="Select Category" id="category" formControlName="category" disabled="true">
                          <mat-option *ngFor="let category of formCategories" [value]="category.id">{{category.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>

                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12 col-sm-12">
                      <span *ngIf="customstatus==0">
                        <span *ngIf="!incidentEditForm.get('description').valid && incidentEditForm.get('description').touched" class="help-box"
                          translate>Enter Description</span>
                        <div class="form-group has-float-label">
                          <input id="incidentDescription" type="text" class="form-control" placeholder="" formControlName="description">
                          <label for="incidentDescription" translate>Description
                            <i class="text-danger">*</i>
                          </label>
                        </div>
                      </span>
                      <span *ngIf="customstatus==1 ||customstatus==2">
                        <span *ngIf="!incidentEditForm.get('description').valid && incidentEditForm.get('description').touched" class="help-box"
                          translate>Enter Description</span>
                        <div class="form-group has-float-label">
                          <input id="incidentDescription" type="text" class="form-control" placeholder="" formControlName="description" readonly>
                          <label for="incidentDescription" translate>Description
                            <i class="text-danger">*</i>
                          </label>
                        </div>
                      </span>
                    </div>
                  </div>

                  <!-- 3nd row -->
                  <div class="row">
                    <div class="col-md-12 col-sm-12">
                      <span *ngIf="customstatus==0">
                        <span class="help-box"></span>
                        <div class="form-group has-float-label">
                          <textarea id="incidentNotes" class="form-control" rows="2" placeholder="" formControlName="notes"></textarea>
                          <label for="incidentNotes" translate>Notes</label>
                          <i class="text-danger"></i>
                        </div>
                      </span>
                      <span *ngIf="customstatus==1 ||customstatus==2">
                        <span class="help-box"></span>
                        <div class="form-group has-float-label">
                          <textarea id="incidentNotes" class="form-control" rows="2" placeholder="" formControlName="notes" readonly></textarea>
                          <label for="incidentNotes" translate>Notes</label>
                          <i class="text-danger"></i>
                        </div>
                      </span>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3 col-sm-12">
                      <span *ngIf="customstatus==0">
                        <div>
                          <label class="btn btn-orange" (click)="uploadFileButtonClick();" [ngClass]="uploadbuttonvisible?'clsreadonly':'editable'">
                            <i class="fa fa-file" style="cursor: pointer;"></i>
                            &nbsp;&nbsp;
                            <label translate>Upload Affected Properties</label>
                          </label>
                          <input style="visibility:hidden" onclick="this.value = null" type='file' id="fileInput" #fileInput accept=".csv" (change)="uploadCsvFile()"
                            formControlName="uploadAffectedProperties" class="pull-right" />
                        </div>
                      </span>
                      <span *ngIf="customstatus==1 ||customstatus==2">
                      </span>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3 col-sm-12">
                      <div class="form-group has-float-label">
                        <input id="noOfProperties" type="text" class="form-control" placeholder="" formControlName="noOfProperties" readonly>
                        <label for="noOfProperties" translate>No of Properties</label>
                      </div>
                    </div>

                    <div class="col-md-3 col-sm-12">
                      <div class="form-group has-float-label">
                        <input id="noOfZones" type="text" class="form-control" placeholder="" formControlName="noOfZones" readonly>
                        <label for="noOfZones" translate>No of Zones</label>
                      </div>
                    </div>

                    <div class="col-md-3 col-sm-12">
                      <div class="form-group has-float-label">
                        <input id="noOfCells" type="text" class="form-control" placeholder="" formControlName="noOfCells" readonly>
                        <label for="noOfCells" translate>No of Cells</label>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                      <div class="form-group has-float-label">
                        <input id="noOfPropertiesRestoared" type="text" class="form-control" placeholder="" formControlName="noOfPropertiesRestoared"
                          readonly>
                        <label for="noOfPropertiesRestoared" translate>No of Properties Restored</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-sm-12 example-container">
                      <mat-form-field style="line-height: 1.800!important;" *ngIf="customstatus==0">
                        <mat-select required placeholder="Select Status" id="status" formControlName="status">
                          <mat-option *ngFor="let status of formStatus" [value]="status.id">{{status.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>

                    </div>
                    <span *ngIf="customstatus==1 ||customstatus==2">
                      <span class="help-box"></span>
                      <div class="form-group has-float-label">
                        <span *ngIf="customstatus==1">Status: Completed</span>
                        <span *ngIf="customstatus==2">Status: Cancelled</span>
                      </div>
                    </span>
                  </div>

                  <div class="row">
                    <span *ngIf="customstatus==0">
                      <div class="pull-right" style="display: inline-flex;">
                        <button class="btn btn-orange" [disabled]="!incidentEditForm.valid" [ngClass]="uploadbuttonvisible?'clsreadonly':'editable'">Save</button>
                        <button class="btn btn-orange" style="margin-left: 5px;" [ngClass]="uploadbuttonvisible?'clsreadonly':'editable'" routerLink="/incident"
                          type="button">Cancel</button>
                      </div>
                    </span>
                    <span *ngIf="customstatus==1 ||customstatus==2">
                      <div class="pull-right" style="display: inline-flex;">
                        <button class="btn btn-orange" style="margin-left: 5px;" routerLink="/incident" type="button">Cancel</button>
                      </div>
                    </span>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- #incidentEdit-form -->

        </div>
        <!-- .simple-page-wrap -->
      </div>
      <!-- end col -->

    </div>
    <div class="container">

      <!-- Trigger the modal with a button -->
      <button style="display: none" #opendialog type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
              <p>{{modalbody}}</p>
              <!-- code of snheha -->
              <!-- <mat-radio-group class="example-radio-group" [(ngModel)]="selectedUser">
                <mat-radio-button class="example-radio-button" *ngFor="let emailId of emailIds" [value]="emailId">
                  {{emailId}}
                </mat-radio-button>
              </mat-radio-group> -->
             <!-- code written by sarjerao -->
              <div *ngFor="let item of duplicateIncidentRec">
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <p class="titletextdata">User Name: {{item.username}}</p>
                    <p>
                      <mat-radio-group class="example-radio-group" [(ngModel)]="item.selecteditem">
                        <mat-radio-button class="example-radio-button" *ngFor="let emaidata of item.emaillist" [value]="emaidata" style="margin-right: 8px;">
                          {{emaidata.Email}}
                        </mat-radio-button>
                      </mat-radio-group>
                    </p>
                  </div>
                </div>
              </div>
              <!-- end of code -->
            </div>
            <div class="modal-footer">
              <span *ngIf="modalfor=='confirmation'">
                <button class="btn btn-orange" data-dismiss="modal" type="button" (click)="yes()">Yes</button>
                <button class="btn btn-orange" data-dismiss="modal" type="button" (click)="no()">No</button>
              </span>
              <span *ngIf="modalfor=='duplicaterecords'">
                <button class="btn btn-orange" type="button" (click)="checkDuplicateRecord()">OK</button>
                <button class="btn btn-orange" type="button" data-dismiss="modal">Cancel</button>
              </span>
              <span *ngIf="modalfor=='userNotExist'">
                <button class="btn btn-orange" type="button" data-dismiss="modal">OK</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- END HOME -->

</div>