<!-- <mat-card >
    <mat-card-title>Zonewise Incident Status</mat-card-title>
  <mat-card-content>  -->
    <mat-card>
      <!-- : {{Incident.incidentid}} -->
      <mat-card-title>
        <label class="lblsubtitle" translate>DASHBOARD.avgtimetakenzonelevel.text  </label>
          <div class="pull-right">
              <div class="row">
             <div class="col-sm-4 col-md-4 col-lg-4" style="display: inline-flex;">
            <div class="input-sm"><label translate>DASHBOARD.zone.text </label></div>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8" style="display: inline-flex;">
            <select class="form-control input-sm " [(ngModel)]="filtervalue" (change)="filterChart();">
              <option value="all">All</option>
              <option *ngFor="let data of dataFileter" [ngValue]="data.value">{{data.name}}</option>
            </select>
            <i class="btn-sm  minmax pointer fa fa-refresh" aria-hidden="true" (click)="getStatuswiseIncident();"></i>
      
            <!-- <i class="glyphicon glyphicon-transfer  pointer fullscreen" (click)="fullWidthChart()"></i> -->
            </div>
          </div>
        </div>
    
      </mat-card-title>
      <div class="row">
        <div class="col-12" style="height:350px !important">
          <ngx-charts-bar-vertical-2d class="customfont"
           [animations]=true [results]="zonewiseIncidentChartFilter"
            [gradient]=true [customColors]="customColors"
            [gradient]="gradient"
             [xAxis]="showXAxis"
              [yAxis]="showYAxis" 
              [legend]="showLegend"
               [showXAxisLabel]="showXAxisLabel"
               [showYAxisLabel]="showYAxisLabel"
               [xAxisLabel]="xAxisLabel"
               [yAxisLabel]="yAxisLabel"         
                (select)="onSelect($event)">
          </ngx-charts-bar-vertical-2d>
        </div>
      </div>
      <!-- <button>Full Screen</button> -->
    </mat-card>
    <!-- </mat-card-content>
     </mat-card> -->
    
    
    