<div class="simple-page">
  <!-- HOME -->
  <section class="bg-custom home" id="home">
    <div class="home-sm">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="home-wrapper home-wrapper-alt p-50">
              <div class="main-logo">
                <img src="../../assets/images/walesandwestcoloredlogo.png" class="img-responsive login-main-logo" alt="walesandwest">
              </div>
              <h4 class="w-full text-justify auth-paragraph wordbreak">{{welcomeText}}</h4>
            </div>
          </div>
          <!-- end col -->

          <div class="col-lg-4 ">
            <div class="simple-page-wrap">

              <div class="simple-page-form animated zoomIn" id="login-form">
                <h4 class="form-title m-b-xxl text-center auth-heading" translate>RESET-PASSWORD.title.text</h4>
                <form [formGroup]="resetPasswordForm" (ngSubmit)="onSendReset()">
                  <div formGroupName ="resetData">

                    <span *ngIf="!resetPasswordForm.get('resetData.otp').valid && resetPasswordForm.get('resetData.otp').touched" class="help-box" translate>RESET-PASSWORD.valid.otp</span>
                    <div class="form-group has-float-label">
                      <input id="reset-password-otp" type="email" class="form-control" placeholder="" formControlName="otp">
                      <label for="reset-password-otp" translate>RESET-PASSWORD.otp.text 
                        <i class="text-danger">*</i>
                      </label>
                    </div>

                    <span *ngIf="!resetPasswordForm.get('resetData.workemail').valid && resetPasswordForm.get('resetData.workemail').touched" class="help-box"
                      translate>RESET-PASSWORD.valid.workemail!</span>
                    <div class="form-group has-float-label">
                      <input id="reset-password-email" type="email" class="form-control" placeholder="" formControlName="workemail" [attr.disabled]="isEmailPreset">
                      <label for="reset-password-email" translate>RESET-PASSWORD.email.text 
                        <i class="text-danger">*</i>
                      </label>
                    </div>

                    <span *ngIf="!resetPasswordForm.get('resetData.newPassword').valid && resetPasswordForm.get('resetData.newPassword').touched" class="help-box"
                      translate>RESET-PASSWORD.valid.password</span>
                    <div class="form-group has-float-label">
                      <input id="reset-password-pwd" type="password" class="form-control" placeholder="" formControlName="newPassword">
                      <label for="reset-password-pwd" translate>RESET-PASSWORD.new.password.text 
                        <i class="text-danger">*</i>
                      </label>
                    </div>

                    <span *ngIf="!resetPasswordForm.get('resetData.confirmPassword').valid && resetPasswordForm.get('resetData.confirmPassword').touched" class="help-box"
                      translate>RESET-PASSWORD.valid.confirm.password</span>
                    <div class="form-group has-float-label">
                      <input id="reset-password-cpwd" type="password" class="form-control" placeholder="" formControlName="confirmPassword">
                      <label for="reset-password-cpwd" translate>RESET-PASSWORD.confirm.password.text 
                        <i class="text-danger">*</i>
                      </label>
                    </div>
                    <div class="valid-password">
                      <p translate>RESET-PASSWORD.password.validation.1</p>
                      <p translate>RESET-PASSWORD.password.validation.2</p>
                    </div>
                    <span class="text-center" *ngIf="resetPasswordForm.get('resetData').hasError('mismatch')" class="help-box">Passwords does not match!</span>
                    <input type="submit" class="btn btn-orange" [value]="'RESET-PASSWORD.reset.password.text' | translate " [disabled]="!resetPasswordForm.valid">
                  </div>
                </form>
              </div>
              <!-- #login-form -->

              <div class="simple-page-footer">
                <p>
                  <small translate>FORGOT-PASSWORD.dont.have.account.text</small>
                  <a routerLink="/auth/register" translate>FORGOT-PASSWORD.signup.text</a>
                </p>
              </div>
              <!-- .simple-page-footer -->
            </div>
            <!-- .simple-page-wrap -->
          </div>
          <!-- end col -->
        </div>
      </div>
    </div>

  </section>
  <!-- END HOME -->
</div>