<div class="container">
  <div class="row">
    <div class="col-md-6 card">
      <div class="home-wrapper home-wrapper-alt p-50">
        <div class="main-logo">
        <img src="../../assets/images/walesandwestcoloredlogo.png" class="img-fluid">
        </div>
        <h4 class="w-full text-justify auth-paragraph">{{welcomeText}}</h4>
      </div>
    </div>
    <div class="col-md-6 card">
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fwwutilities%2F&tabs=timeline&width=500&height=1000&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
        width="500" height="1000" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
        allow="encrypted-media"></iframe>
    </div>
  </div>
</div>